
.about1
{
width:100%;
border:9px solid  #D1C6B2;
background-color:#E3D8C2;
margin-top:100px;
margin-left:15px;
margin-right:50px;
}
.about2
{
width:400px;
margin-top:10px;
}
.about3
{
width:760px;
margin-top:10px;
}
@media screen and (max-width: 1720px) {
    .about2, .about3 {
        width: 94% !important;
        text-align: center;
    }    
}
