
.about1
{
height:469px;
width:1280px;
border:9px solid  #D1C6B2;
background-color:#E3D8C2;
margin-top:30px;
margin-left:15px;
margin-right:50px;
}
.about2
{
height:500px;
width:400px;


margin-top:10px;
margin-left:45px;
margin-right:50px;
float:left
}
.about3
{
height:500px;
width:760px;


margin-top:10px;
margin-left:px;
margin-right:10px;
float:right;
 font-family:Vladimir Script;
}
.bottom
{
height:70px;
background-color:#D1C6B2;

width:1354px;
margin-top:28px;
margin-left:-10px;
font-weight:bold;



.