
.about1
{
width:1280px;
border:9px solid  #D1C6B2;
background-color:#E3D8C2;
margin-top:30px;
margin-left:15px;
margin-right:50px;
}
.about2
{
width:400px;
margin-top:10px;
}
.about3
{
width:760px;
margin-top:10px;
font-family:Vladimir Script;
}


.