body
{
background-image:url(../IMAGES/c1.PNG);
}
div, p, a, li, td {
font-family: 'Roboto', sans-serif;
}
.page
{
width:1354px;
height:1380px;
background-image:url(../IMAGES/c1.PNG);
}
.logo
{
height:160px;
margin-top:-10px;	
}
.menu 
{
	height:80px;
	border:0px solid red;
	margin-top:50px;
	background-color:#D1C6B2;
}
.one,.second
{
	list-style:none;
}
.one .li {
	float:left;
	padding:18px 8px;
	font-family:; 
	font-size:25px;
	margin-left::-10px;
}
.second .li {
	float:left;
	padding:18px;
	font-family:; 
	font-size:25px;
	margin-left::-10px;
}
.li:hover
{
	box-shadow:0px 0px 10px  #FFEBCD ;
	-moz-transform:rotateY(-360deg);
	transition:2s; 
}
ol
{
	list-style:none;
	position:absolute;
	margin-left:-100px;
}
ol .ol
{
	float:none;
	margin-top:10px;
}
#a
{
	height:150px;
	width:500px;
	float:left;
	margin-top:-35px;
}
.list
{
			list-style:none;
}
	ol
		{
			display:none;		
		}
ul li:hover ol
{
	display:block;
}
.menumobile {
    background-color:#3bb44a;
    height: 105px;
}
.hamb {
    display: none;
}
@media screen and (max-width: 1080px) {
    .menumobile {
        display: block;
    }
    .menu {
        display: none;
    }
    #a {
        height: 100px !important;
        width: 100px !important;
        margin-top: 12px !important;
    }
    .logo, .hamburger {
        width:50%;
    }
    .logo p {
        margin-top: 40px;
        margin-left: 20px;
        font-size: 24px;
    }
    .hamburger button {
        background-color: #3bb44a;
        border: 1px solid white;
        padding: 15px 30px;
        float:right;
        margin-right: 10px;
        margin-top: 20px;
        font-size: 20px;
    }
    .hamb {
        width: 100%;
        background-color: #3bb44a;
        border-top: 1px solid white;
    }
    .hamb ul {
        text-align: right;
        list-style-type: none;
    }
    .hamb ul li {
        padding: 10px 0px;
        margin-right: 10px;
        font-size: 16px;
    }
}
@media screen and (min-width: 1081px) {
    .menumobile {
        display: none;
    }
    .menu {
        display: block;
    }
}
