table {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width:960px) {
    #planImg {
        width: 30%;
        margin-left: 35%;
        margin-right: 35%;
    }
}
@media screen and (max-width:960px) {
    #planImg {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}
.ui-timepicker-wrapper {
    position: relative;
}

.élément {
    position: relative;
}

.qty {
    width: 40px;
    height: 25px;
    text-align: center;
}

input.qtyplus {
    width: 25px;
    height: 25px;
}

input.qtyminus {
    width: 25px;
    height: 25px;
}

.button {
    background-color: skyblue;
    font-size: 18px;
    font-weight: bold;
}
.map {
    text-align: center;
}
.map__image {
    width: 571px;
    margin-left:auto;
    margin-right: auto;
}
.map__image g {
    fill: white;
    stroke: #000;
    stroke-width: 1px;
    transition: fill 0.3s;
}
.map__image g:hover {
    fill: #3bb44a;
    stroke: #000;
    stroke-width: 1px;
    transition: fill 0.3s;
}