#carouselImg
    {
       width: 100%;
       
      }
      input[type=button] {
       
        float: right;
        background : #2eb2ff;
        font-weight: bold;
        font-size: 20px;
        

      margin-bottom: 1rem;
      margin-top: 0;

      margin-bottom: 1rem;
      text-align:center;
    }