/* CSS Document */
.swiper-viewport {
	margin: 0px;
	z-index: 1;
	width: 100%;
	position: relative;
	overflow: hidden;
}
/* OpenCart Code */
.main-slider .swiper-wrapper, .swiper-container {
	direction: ltr !important;
}
.swiper-pagination {
	bottom: 10px;
	left: 0;
	text-align: center;
	width: 100%;
}
.swiper-pagination-bullet {
	width: 13px;
    display: inline-block;
    height: 13px;
    background: #fff;
    margin: 5px 5px;
    opacity: 1;
    text-indent: -9999px;
    cursor: pointer;
    border-radius: 0px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transform: rotate(-50deg);
}
.swiper-pagination-bullet:hover,
.swiper-pagination-bullet-active {
	background: #d35f16;
  /*  -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 500ms ease 0s;
    -moz-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;*/
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
    cursor: pointer;
    pointer-events: auto;
}