.login1
{
background-image:url(../images/1.PNG);

height:640px;
width:1350px;
border-radius:30px;

}
.image
{
height:400px;
width:500px;
margin-left:80PX;
margin-top:150px;
float:left;

}
.table
{
height:340px;
width:480px;
border:5px solid white;
margin-left:170PX;
margin-top:110px;
float:left;
border-radius:25px;
}

.a
{
width:180px;
height:37px;
font-size:25px;
border-radius:20px;
font-family:Vladimir Script; 
margin-top:25px;
margin-left:40px;
background-color:#E4D8C2;
text-align:center;
}
.b
{
margin-left:140px;
margin-top:20px;
border-radius:25px;
width:200px;
height:40px;
font-family:Vladimir Script; 
font-size:25px;
background-color:#E4D8C2;
}